#reddit-time-tracker {
    position: relative;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#reddit-time-tracker__body {
    padding: 20px 20px;
}

#reddit-time-tracker__links a {
    font-size: 12px;
    color: black;
    text-decoration: underline;    
}

#reddit-time-tracker__logo {
    background-image: url("chrome-extension://bbibllckhhjeebilllcglnmlaplcklld/img/stopwatch.svg") !important;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px !important;
    height: 30px;
    display: inline-block;
    opacity: 0.5;        
    vertical-align: center;
}

#reddit-time-tracker__logotime {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
}

#reddit-time-tracker__name {
    color: black !important;
    font-size: 20px;
    font-weight: bold !important;
    line-height: 20px;
    text-align: center;
}

#reddit-time-tracker__popup {
    display: none;
    /* display: block; */
    width: 350px;
    height: 300px;
    position: absolute;
    background-color: #FFF;
    border: groove;
    border-radius: 5px;
    margin: 10px;
}

#reddit-time-tracker__popup-body {
    padding: 20px 20px;
}

#reddit-time-tracker__stats {
    color: black !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

}

#reddit-time-tracker__stats li {
    color: black !important;
    list-style-type: none;    
    margin-top: 20px !important;
}

#reddit-time-tracker__stats li li {
    margin-top: 20px;
}

#reddit-time-tracker:hover #reddit-time-tracker__popup {
    display: block;
}

#reddit-time-tracker__time {        
    align-items: center;
    font-size: 16px;
    line-height: 18px;
    opacity: 0.75; 
    overflow: hidden;
    padding-top: 2px;
    white-space: nowrap;        
}

.statline {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;    
}

.trendGreen {    
    color: #00FF00;
}

.trendRed {    
    color: #FF0000;
}