.form {
    text-align: center;
}

#header h1 {
    background-color: #FF5700;
    padding: 10px;
}

.inline-buttons {
    display: flex;
    justify-content: center;
}

@keyframes fadeOut {
    0% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

.animate1 {
    animation-name: fadeOut;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.animate2 {
    animation-name: fadeOut;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#section-minutes-allowed {
    text-align: center;
}

.shadow {
    box-shadow: 0px 3px 5px 0px #ccc;
}

.status-alerts {
    /* animation-name: fadeOut;
    animation-duration: 5s;
    animation-fill-mode: forwards;         */
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    /* visibility: hidden; */
    width: 50%;
}