<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"> -->        
        <meta name="description" content="Keep track of your time spent on Reddit.">
        <meta name="author" content="Justin Ho">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="../css/popup.css">
    </head>
    <body>        
        <div id="popup">
            <p>You've spent <strong>X</strong> minutes on Reddit today!</p>
            <br>
            This Week<br>
            This Month<br>
            This Year<br>
            All Time<br>
        </div>
    </body>
</html>